name: Release grabber

on:
   push:
      branches: ["main", "fix-release"]
   pull_request:
    types:
      - opened
      - synchronize

jobs:
  build_linux:
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      - name: Install agent dependencies
        working-directory: ./grabber
        run: npm ci

      - name: Run agent build
        working-directory: .
        run: bash ./scripts/grabber_build.sh linux x64
      - name: Create tar archive
        working-directory: ./grabber/build/
        env:
          COMMIT_SHA: "${{ github.sha }}"
          BUILD_DATE: "${{ github.event.repository.updated_at }}"
        run: tar -czvf ./../webrtc_grabber_agent_linux_x64.tar.gz .
      - uses: actions/upload-artifact@v4
        with:
          name: webrtc_grabber_agent_linux_x64.tar.gz
          path: ./grabber/build
          retention-days: 7

  build_windows:
    runs-on: windows-2022
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      - name: Install agent dependencies
        working-directory: .\grabber
        run: npm ci

      - name: Run agent build
        working-directory: .
        shell: cmd
        env:
          COMMIT_SHA: "${{ github.sha }}"
          BUILD_DATE: "${{ github.event.repository.updated_at }}"
        run: scripts\grabber_build_win64.bat

      - uses: actions/upload-artifact@v4
        with:
          name: webrtc_grabber_agent_win_x64
          path: ./grabber/build/
          retention-days: 7
